@charset "utf-8";

* {
    text-decoration: none;
    margin: 0%;
}

body {
    margin: auto;
    background-color: #ffffff;
    position: relative;
}

header {
    width: 100%;
    max-height: 200px;
    background-image: linear-gradient(to left, #012D54, #0E4981, #1a4c7a, #194975da, #0f3e6d);
    background-size: 500% 100%;
    text-align: center;
    box-shadow: 0px 2px 7px 1px #0226253b;
    animation: degrade-animado 5s infinite alternate;
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}

.headercontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    text-align: center;
    justify-content: center;
    padding: 1rem 3rem;    
    min-width: 10vw;
}

.logo {
    display: flex;
    padding: 10px; 
    height: 2rem;
    align-items: center;
}
.logo img{
    min-width: 1.5rem;
    max-width: 7.5rem;
}
header > .logo > h1 {
    max-width: 10%;
}

.logo > p {
    font-size: 0.5em;
    padding-bottom: 1px;
    border-radius: -3px -3px;
}

.navcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    max-width: 98%;
    height: 35px;

}

nav > a {
    color: rgb(255, 255, 255);
    padding: 0px 5px 0px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
}

.navcontainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navcontainer2 > a:hover {
    padding: 5px;
    border-radius: 2px 5px;
    color: white;
    font-weight: bold;
}
.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
    text-decoration: none;
}
.container-menu ul{
    display: none;
}
.mobile-menu ul{
    text-decoration: none;
}
.nav-item{
    display: block;
    text-decoration: none;
    padding-top: 3px;
}
.nav-link{
    text-decoration: none;
    color: #D0D5CE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media screen and (max-width: 730px){
    .headercontainer{
        padding: 0.5rem 3rem;
    }
    .navcontainer2{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding-left: 10px;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .mobile-menu .nav-item {
        display: block;
    }
    .container-menu .nav-item{
        display: block;
    }
    .open{
    display: block;
}
    .btn-nocturne{
        display: none;
    }
    
}
.btn-nocturne button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn-nocturne button img{
    width: 60%;
    padding: 0.5rem 0.5rem;
}

.contatcontainer {
    display: flex;
    flex-direction: row;
    height: 10%;
    padding-right: 15px;
    justify-content: center;
}

.contatcontainer2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 60px 60px;
    width: 150px;
}

.contatcontainer2 > a {
    padding-top: 30vw;
    color: white;
    padding: 5px 15px 5px 15px;
}

.insta {
    max-width: 2.5vh;
    background-color: white;

}

.insta:hover {
    background-image: linear-gradient(to top left, #FFB541, #FDA824, #FF8403, #FF6601, #FD2832, #FF0961, #CB1BA0, #AB35BF, #1A67E3);
    transition-duration: 1s;
}

.whats {
    max-width: 2.5vh;
    background-color: white;
}

.whats:hover {
    background-color: #62ff74;
}

.email {
    max-width: 2.5vh;
    background-color: white;
}

.email > img {
    max-width: 2vw;
}

.email:hover {
    background-color: #3498DB;
}

footer {
    background-color: #000000;
    height: 50px;
}

main {
    width: 90vw;
    text-align: center;
    margin: auto;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#corredor {
    margin: auto;
    text-align: center;
    position: relative;
}

.btn-fixed {
    position: fixed;
    bottom: 55px;
    right: 1px;
    visibility: hidden;
}

#setacima {
    border-radius: 50px;
    width: 4vw;
    min-width: 30px;
    max-width: 40px;
}


.btn-fixed.visible {
    visibility: visible;
}