@charset "utf-8";

* {
    text-decoration: none;
    margin: 0%;
}

header {
    width: 100%;
    max-height: 170px;
    background-color: #022625;
    text-align: center;
    box-shadow: 0px 2px 7px 1px #0226253b;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
}

.logocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    min-width: 10vw;
}

.logo {
    font-size: 2em;
    padding: 20px;
    height: auto;
}

header > .logo > h1 {
    max-width: 20%;
}

.logo > p {
    font-size: 0.7em;

    padding-bottom: 1px;
    border-radius: -3px -3px;
}

.navcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    background-image: linear-gradient(to bottom, #022625, #d0d5ce);
    border-radius: 0px 0px 60px 60px;
    max-width: 98%;
    height: 35px;
}

nav > a {
    color: rgb(255, 255, 255);
    padding: 0px 10px 0px 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
}

.navcontainer2 > a:hover {
    padding: 5px;
    border-radius: 2px 5px;
    color: white;
    transition-duration: 0.3s;
    font-size: 1.1em;

}

.contatcontainer {
    display: flex;
    flex-direction: row;
    height: 10%;
    padding-right: 15px;
    justify-content: center;
}

.contatcontainer2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0px 0px 60px 60px;
    width: 150px;
}

.contatcontainer2 > a {
    padding-top: 30vw;
    color: white;
    padding: 5px 5px 5px 5px;
}


body {
    margin: auto;
    background-color: #d0d5ce;
    position: relative;
}

.insta {
    max-width: 0.5vw;
    min-width: 2vh;
    background-color: white;

}

.insta:hover {
    background-image: linear-gradient(to top left, #FFB541, #FDA824, #FF8403, #FF6601, #FD2832, #FF0961, #CB1BA0, #AB35BF, #1A67E3);
    transition-duration: 1s;
}

.whats {
    max-width: 0.5vw;
    min-width: 2vh;
    background-color: white;
}

.whats:hover {
    background-color: #62ff74;
}

footer {
    background-color: #022625;
    height: 50px;
}

main {
    width: 90vw;
    text-align: center;
    margin: auto;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#corredor {
    margin: auto;
    text-align: center;
    position: relative;
}

.btn-fixed {
    position: fixed;
    bottom: 27px;
    right: 1px;
    visibility: hidden;
}


.btn-fixed.visible {
    visibility: visible;
}